.movie {
	width: 100%;
	height: 440upx;
}
.movie-info {
	padding: 40upx 20upx;
	display: flex;
	flex-direction: row;
	background-color: #f7f4f9;
}
.file {
	width: 280upx;
	height: 280upx;
}
.movie-desc {
	display: flex;
	flex-direction: column;
	margin-left: 30upx;
	width: 400upx;
}
.title {
	font-size: 19px;
	padding: 5upx;
	color: #333333;
}
.basic-info {
	color: #333333;
	font-size: 15px;
	line-height: 36upx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5upx;
	margin-top: 25upx;
}
.plots-block {
	background-color: #f7f4f9;
	padding: 20upx 40upx;
}
.plots-title {
	color: #AB956D;
	font-size: 14px;
}
.plots-desc {
	font-size: 14px;
	color: #333333;
	text-indent:2em
}



